@model movie2.Models.ProductionCompany

@{
    Layout = null;
}

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Amin Template">
    <meta name="keywords" content="Amin, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moviezzzzz</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Menu Begin -->
    <div class="humberger-menu-overlay"></div>
    <div class="humberger-menu-wrapper">
        <div class="hw-logo">
            <a href="#"><img src="~/Content/img/f-logo.png" alt=""></a>
        </div>
        <div class="hw-menu mobile-menu">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>
                    @Html.ActionLink("Movie", "Movie", "Home1")
                </li>
                <li>
                    @Html.ActionLink("AddMovie", "AddMovie", "Home1")
                </li>
                <li>
                    @Html.ActionLink("AddProductionCompany", "ProductionCompany", "Home2")
                </li>
                <li>
                    @Html.ActionLink("ProductionCompany", "ProductionCompany1", "Home2")
                </li>

            </ul>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="hw-copyright">
            Copyright © 2019 Colorlib Inc. All rights reserved
        </div>
        <div class="hw-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="hw-insta-media">
            <div class="section-title">
                <h5>Instagram</h5>
            </div>
            <div class="insta-pic">
                <img src="~/Content/img/instagram/ip-1.jpg" alt="">
                <img src="~/Content/img/instagram/ip-2.jpg" alt="">
                <img src="~/Content/img/instagram/ip-3.jpg" alt="">
                <img src="~/Content/img/instagram/ip-4.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- Humberger Menu End -->
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="ht-options">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">

                    </div>

                </div>
            </div>
        </div>
        <div class="logo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="./index.html"><img src="~/Content/img/logo.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-options">
            <div class="container">
                <div class="humberger-menu humberger-open">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="nav-search search-switch">
                    <i class="fa fa-search"></i>
                </div>
                <div class="nav-menu">
                    <ul>
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>


                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <u><h2>Add ProductionCompany</h2></u>
    <br />
    @Html.ActionLink("'Back", "DashBoard", "Home1")
    <br />
    @using (Html.BeginForm("ProductionCompany", "Home2", FormMethod.Post))
    {
        <div class="table">
            <table cellpadding="2" cellspacing="2" border="1">

                <tr>
                    <td>@Html.LabelFor(x => x.ProductionCompany_name)</td>
                    <td>@Html.TextBoxFor(x => x.ProductionCompany_name)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(x => x.Year_Of_Establish)</td>
                    <td>@Html.TextBoxFor(x => x.Year_Of_Establish)</td>
                </tr>
                
                <tr>
                    <td>@Html.LabelFor(x => x.ChairMan)</td>   
                    <td>@Html.TextBoxFor(x => x.ChairMan)</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(x => x.Founder)</td>
                    <td>@Html.TextBoxFor(x => x.Founder)</td>
                </tr>
                <tr>
                    <td> <input type="submit" value="save" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td><p>@ViewBag.Msg2</p></td>
                    <td></td>
                </tr>
                </table>
            </div>
}

                <!-- Js Plugins -->
                <script src="~/Content/js/jquery-3.3.1.min.js"></script>
                <script src="~/Content/js/bootstrap.min.js"></script>
                <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
                <script src="~/Content/js/circle-progress.min.js"></script>
                <script src="~/Content/js/jquery.barfiller.js"></script>
                <script src="~/Content/js/jquery.slicknav.js"></script>
                <script src="~/Content/js/owl.carousel.min.js"></script>
                <script src="~/Content/js/main.js"></script>
    </body>

</html>

